# REQUIRED CONFIG
BOT_TOKEN = "5973061036:AAGAy9FVqCZpSZ6ycvtoDnenDZ-fq5dLeEg"                              # Require restart after changing it while bot running
OWNER_ID = "5561547043"                               # Require restart after changing it while bot running
TELEGRAM_API = "15855531"                           # Require restart after changing it while bot running
TELEGRAM_HASH = "31e0b87de4285ebff259e003f58bf469"                          # Require restart after changing it while bot running
# OPTIONAL CONFIG
GDRIVE_ID = "1oklC-IXxTAVK9iGYwkMUimYhUz6L55GX"
IS_TEAM_DRIVE = "True"
DOWNLOAD_DIR = "/usr/src/app/downloads/"    # Require restart after changing it while bot running
DOWNLOAD_STATUS_UPDATE_INTERVAL = "10"
AUTO_DELETE_MESSAGE_DURATION = "30"
DATABASE_URL = "postgres://pxpdhzwg:kMum0CKRHGt8q-sXGObGmNMFSQjl3R4E@hansken.db.elephantsql.com/pxpdhzwg"                           # Require restart after changing it while bot running
AUTHORIZED_CHATS = "-1001663038905"                       # Require restart after changing it while bot running
SUDO_USERS = "5122339264"                             # Require restart after changing it while bot running
IGNORE_PENDING_REQUESTS = ""
USE_SERVICE_ACCOUNTS = ""
INDEX_URL = "https://tmirrorleech.tmirrorleech.workers.dev/0:/"
STATUS_LIMIT = "3"
STOP_DUPLICATE = ""
CMD_SUFFIX = ""                              # Require restart after changing it while bot running
UPTOBOX_TOKEN = ""
TORRENT_TIMEOUT = ""
EXTENSION_FILTER = ""
INCOMPLETE_TASK_NOTIFIER = ""
YT_DLP_QUALITY = ""
# Update
UPSTREAM_REPO = ""
UPSTREAM_BRANCH = ""
# Leech
USER_SESSION_STRING = "BQBiMZkAXvJNWBg2aw5kzz0UipvawBRy_LIinu-15snFehJ10fUJ1KIq0ZgornzQAMCkxWAMvSTuDarhbhJfiuXzdQzW2YbrquRdEHTYRCoFvROAN_3_KMeW8MZxLMbuvoCdroTqR2B55kZN--Jfm8Mb4pv-B2RG1ViQ_jy7MpInGDnugHupOUcai5EDpRM0E_Kjeh__ia3pcAbFvjXTg5-z38-iPvguOmcl8Z6I7veSAhLorSTb7z3VeKfqI7WMOFlXxlMSE1-bq2klJElMe_1LVAO47j7uqtAiZJNPuAQIgBAb_Bm14OA2SIjJhayKcwNPyzkS0Ea85haQOzrG5TxjqGy4NgAAAAFLfnkjAA"                    # Require restart after changing it while bot running
LEECH_SPLIT_SIZE = ""
AS_DOCUMENT = ""
EQUAL_SPLITS = ""
LEECH_FILENAME_PERFIX = ""
DUMP_CHAT = ""
# qBittorrent/Aria2c
BASE_URL = ""
SERVER_PORT = ""
WEB_PINCODE = ""
#Queueing system
QUEUE_ALL = ""
QUEUE_DOWNLOAD = ""
QUEUE_UPLOAD = ""
# RSS
RSS_DELAY = ""                              # Require restart after changing it while bot running
RSS_COMMAND = ""
RSS_CHAT_ID = ""
RSS_USER_SESSION_STRING = ""                # Require restart after changing it while bot running
# Mega
MEGA_API_KEY = ""
MEGA_EMAIL_ID = ""
MEGA_PASSWORD = ""
# Buttons
VIEW_LINK = ""
# Torrent Search
SEARCH_API_LINK = ""
SEARCH_LIMIT = ""
SEARCH_PLUGINS = '["https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/rarbg.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/piratebay.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/legittorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/limetorrents.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/torrentscsv.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/zooqle.py",
                   "https://raw.githubusercontent.com/qbittorrent/search-plugins/master/nova3/engines/eztv.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/kickass_torrent.py",
                   "https://raw.githubusercontent.com/MaurizioRicci/qBittorrent_search_engines/master/yts_am.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/linuxtracker.py",
                   "https://raw.githubusercontent.com/MadeOfMagicAndWires/qBit-plugins/master/engines/nyaasi.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/ettv.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/glotorrents.py",
                   "https://raw.githubusercontent.com/LightDestory/qBittorrent-Search-Plugins/master/src/engines/thepiratebay.py",
                   "https://raw.githubusercontent.com/nindogo/qbtSearchScripts/master/magnetdl.py",
                   "https://raw.githubusercontent.com/khensolomon/leyts/master/yts.py"]'
